extends layout

block content
    .parallax-6(style='min-height:300px;')
    #section-discord.jumbotron
        .container
            .row.py-5
                h1.display-3.font-playfair PotterPlus Discord
                p.lead.font-jsl PotterPlus forgoes the use of web-based forums in favor of using Discord as a complete solution for handling community interaction.
                p.lead.font-jsl In order to receive the proper roles and make full use of our Discord, you'll need to verify your PotterPlus account and link it with Discord.
                .col-2
                    a.btn.btn-outline-light.btn-outline-discord(href='#')
                        i.bi.bi-discord &nbsp;
                        span Verify Discord
                    br
                    a.btn.btn-outline-light.btn-outline-discord(href='#')
                        i.bi.bi-discord &nbsp;
                        span Join Discord
    .parallax-6(style='min-height:250px;')