extends layout

block content
    .parallax-4(style='min-height:300px')
    #section-forgot-password.jumbotron
        .container.py-5
            .row
                h1.font-playfair Reset your account password
                hr
                p.lead.font-jsl.
                    You can reset your account password below. For more help, visit the
                    <a href='/support'>support center</a>.
            .row
                .col-9
                    form#form-forgot-password
                        .form-group
                            label(for='inputEmail') Email address
                            input#inputEmail.form-control(type='email', placeholder='Enter account email address...', required)
                            small.form-text.text-muted Use the email address associated with your PotterPlus account.
                        .mt-3
                            button.btn.btn-outline-primary(type='submit') Reset password
                            a.btn.btn-link(href='/support') Visit the support center
    .parallax-4(style='min-height:150px')