extends layout

block content
    .parallax-2(style='min-height:250px;')
    #section-privacy-policy.jumbotron
        .container.py-5
            .row
                h1.display-1.font-playfair Privacy Policy
                hr
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus in incidunt ipsa, natus non obcaecati pariatur perspiciatis quos recusandae tempore velit. A aliquam aperiam aspernatur debitis magnam quidem tenetur.
    .parallax-2(style='min-height:150px;')