mixin footer
    footer#footer.jumbotron.bg-black
        .container.py-5
            .row
                .col-2
                    p
                        a.text-light(href='/privacy-policy')='Privacy Policy'
                        br
                        a.text-light(href='/terms-of-service')='Terms of Service'
                        br
                        a.text-light(href='/support')='Support Center'
                .col-2
                    p
                        a.text-light(href='/projects')='Projects'
                .col-8
                    p
                        | PotterPlus is not affiliated with Mojang AB, J.K. Rowling, Warner Brothers or any company, copyright, or trademark.
                        | <br>Copyright &copy; 2021 PotterPlus